# Node modulesnode_modules# Logslogs.log# React Native cacheiosbuildandroidappbuildwindowsBossAssistantAppGeneratedFileswindowsBossAssistantAppBuildwindowsBossAssistantAppDebug# Xcode filesiosPodsios.xcworkspaceios.xcuserdata